@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Full-background{
  background-color: rgb(27, 26, 26);
  margin: auto;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-title{
  
 font-size: 36px;
 font-weight: bold;
 color: rgb(230, 83, 60);
 margin-left: 5%;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}
nav ul li{
margin: 0 ;
}
nav li a{
  text-decoration: none;
  color:#fff ;
  padding: 15px 30px;
  display: block;
  border-radius: 25px;
 transition: background-color 0.3s;

}
.nav-distance{
  display:flex;
  justify-content: flex-end;
  border: solid 2px #2c2b2b;
  border-radius: 46px;
  padding: 4px;
  margin-right: 8px;
}
.nav-discription{
display: flex;
justify-content: space-between;
background: transparent;
border: none;
padding: 20px 50px;
}
 nav  div button a{
  color: white;
  text-decoration: none;
  font-size: 18px;
 }
 .nav-discription:hover {
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
 }

nav ul li a: hover {
  background-color: #444;
}
.Banner-description{
  width: 30%;

}
.Banner-text{
  font-size: 78px;
 display: flex;
 flex-direction: column;
  color: white;
  font-weight: bold;
}
.sara{
  display: flex;
}
.miama{
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;

}
.paragraph-banner{
  color: rgba(182, 168, 168, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.Banner-Button-section{
  display: flex;
  justify-content: space-between;
  
}
.Banner-Button {
 border: solid 1px white;
 color: #ccc;
 width: 45%;
 height: 54px;
 background: transparent;
 border: solid 1px white;
 border-radius: 42px;margin: auto;
}
.Banner-Button:hover{
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
}
.Banner{
  display: flex;
  margin: auto;
  justify-content: center;
}
.Banner-picture{
  background-image: url('../images/Images\ 2.png');
  display: flex;
  justify-content: space-between;
}
.img-over1{
  display: flex;
  flex-direction: column;
  color: white;
 background-color: #ccc;
filter: blur(8px);
}
.img-over-num{
  font-size: 40px;
  font-weight: 900;
}
.img-over-text{
color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;
text-align: left;
}

.paragraph-2{
 
font-size: 18px;
margin-bottom: 40px;
color: #ccc;
}
.main-description{
  max-width: 1200PX;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  color: #fff;
}
.heading{
  font-size: 48px;
  margin-bottom: 20px;
}
.about-gym{
  display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}
.gym{
  width: 200px;
 margin-bottom: 40px;
 text-align: center;
}
.pic-2
{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid white;
}
.gym-title{
  font-size: 22px;
  margin: 20px 0 10px;
}
.gym-discription{
  font-size: 14px;
  color: #ccc;
}
.Gym-Run{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:40px;
  margin: 0 auto;
  color: white;
  background: rgb(34, 34, 34);;
  width: 70%;
  height: 371px;
}
.gym-text{
  max-width: 600px;
}
.gym-heading{
  font-size: 48px;
  margin-bottom: 20px;
}
.header-description{
  font-size: 18PX;
  margin-bottom: 30PX;
  line-height: 1.5;
}
.join-button{
background-color: #ff5722;
color: #fff;
padding: 15px 30px;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
font-size: 18px;
}
.image-section{

  width: 366px;
  height:312px;
  border-radius: 18px;
}
.Traing-section{
  margin: 0;
  padding: 0;
  color: white;
  background-color: #111;
}
.Training-details{
  padding: 50px;
  text-align: center;
  background-attachment: #000;
}
.ts-1{
  padding: 50px;
  text-align: center;
  background: #000;
}
.train-parag{
  font-size: 24px;
  margin: 10px 0 0;
}
.traning-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.img-item-1{
  width: 27%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  text-align: start;
}
.image-1{
 width: 100%;
 height: 100%;

}
.img-item-2{
  width: 46%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  text-align: start;
}
.image-2{
 width: 100%;
 height: 100%;

}
.img-item-3{
  width: 27%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  
  text-align: start;
}
.image-3{
 width: 100%;
 height: 100%;

}
.img-item-4{
  width: 37%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  text-align: start;
}
.image-4{
 width: 100%;
 height: 100%;

}
.img-item-5{
  width: 26%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  text-align: start;
}
.image-5{
 width: 100%;
 height: 100%;

}
.img-item-6{
  width: 37%;
  height: 254px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(12, 12, 12);
  text-align: start;
}
.image-6{
 width: 100%;
 height: 100%;

}
/* .img-item img{
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
} */
.img-layout-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 255, 210, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-layout-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-layout-3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-layout-4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-layout-5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 255, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-layout-6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 71, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-header{
  margin: 0;
  font-size: 24px;
  color: white;
}
.BMI-Chart{
  display: flex;
  justify-content: space-between;
 margin: auto;
  width: 80%;
}
.BMI-section,.BMI-calculator{
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 45%;
}
.BMI-heading{
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
table,th,td{
  border: 1px solid #444;
}
th,td{
  padding: 10px;
  text-align: left;
}
.BMI-calculator form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.BMI-calculator input,.BMI-calculator select{
 padding: 10px;
 background-color: #444;
 color: #fff;
 border: none;
 border-radius: 4px;
 font-size: 16px;
}
.BMI-calculator button {
  grid-column: span 2;
  padding: 15px;
  background-color: #f04c3e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.BMI-calculator button:hover{
 background-color: #e03c2e;
}
.Meet-section{
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  text-align: center;

}
.Meet-1{
  padding: 50px;
  background-color: #000;
}
.meet-header{
  font-size: 56px;
  margin: 0;
  font-weight: bold;
}
.meet-paragraph{
  font-size: 20px;
  margin: 10px 0 0;
   color: rgba(255, 255, 255, 0.5);
}
.team-leader{
  display: flex;
  color: white;
  text-align: center;
}

.team-mamber{
 display: flex;
 width: 30%;
 justify-content: space-between;
 margin: 20px;
 border: none;
 border-radius: 18px;

}
.team-img{
 width: 100%;
 height: 100%;
 margin: 20px;
 border-radius: 18px;
  
}
.team-info{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
.team-header{
  margin: 0;
  font-size: 24px;
}
.team-descrip{
  margin: 5px 0 0;
  font-size: 16px;
  color: #ccc;
}
.footer-part{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  }
  .footer-left{
    margin-left: 5%;
    
    
  }
  .fit-header{
    font-size: 5rem;
    font-weight: bold;
    color: #FF5A3C;
    margin-bottom: 20px;
  }
  .paragraph-3{
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
  }
  .footer-right{
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
    width: 50%;
  }
  .Column{
    margin-right: 50px;
  }
  .col-1{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  .col-ul{
    list-style-type: none;
    padding: 0;
  }
  .Column ul li{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
  }
  .footer-section{
    display: flex;
    margin-top: 30px;
    border-top: solid 1px rgb(131, 125, 125);
    color: rgba(255, 255, 255, 0.5);
    justify-content: center;
  }