@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.Full-background{
  background-color: black;
  margin: auto;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-title{
  
 font-size: 36px;
 font-weight: bold;
 color: rgb(230, 83, 60);
 

}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}
nav ul li{
margin: 0 ;
}
nav li a{
  text-decoration: none;
  color:#fff ;
  padding: 15px 30px;
  display: block;
  border-radius: 25px;
 transition: background-color 0.3s;

}
.nav-discription{
background-color: #FF6347;
color: #fff;

}
nav ul li a: hover {
  background-color: #444;
}
.banner{
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.banner-header{
  text-align: center;
  color: #fff;
  font: Miama;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header-1
{
  color: white;
}
.paragraph-1{
  color: bisque;
}
.pic-1{
  width: 350px;
}
.Button-1{
background-color: #FD6E0A;
color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 5px;
  
}
.Button-2{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 5px;
}
.Heading{
  display: flex;
  color: white;
  /* align-items: center; */
  justify-content: center;
}
.paragraph-2{
 
  display: flex;
  color: aliceblue;
  justify-content: center;
}
.about-gym{
  display: flex;
  color: white;
}
.Gym-Run{
  display: flex;
  color: white;
  background-color:gray;
}
.run-pic{
  height: 200px;
  width: 350px;
}
.Traing-section{
  color: white;
}
.BMI-section{
color: white;
}